CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.exe
build/*
build_animated/*
build_back/*
build3/*
build4/*
build5/*
build6/*
logs.txt